.btn-m15 {
  margin: 15px;
}

.ml5 {
  margin-left: 5px;
}

#app {
  background-image: url('/images/pencils.jpg');
  background-size: cover;
}

.main-container {
  position: relative;
  min-height: 100vh;
}

.col-vcenter {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}